* {
    -webkit-tap-highlight-color: transparent;
}
/*-------INITIAL SETTING-------*/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #000000;
    overflow: hidden;
}

/*-------PAGE-------*/

.page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}

.active {
    display: block
}

/*-------PAGE-------*/

.page-header {
    height: 30%;
    width: 100%;
    display: table;
    border-image: 0 0 1 0 -webkit-linear-gradient(0deg, transparent, #12B4FF, transparent);
}

.page-header p {
    color: #12B4FF;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.page-content {
    height: 55%;
    width: 100%;
    display: table;
}

.page-content p {
    color: #12B4FF;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.page-footer {
    height: 15%;
    width: 100%;
    display: table;
}

#notification-list {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#no-notification {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

#remove-all-btn {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

/*-------LIST ITEM-------*/

.list-item {
    margin-left: 10%;
    height: 50%;
    width: 80%;
    display: table;
    table-layout: fixed;
    border-image: 0 0 1 0 -webkit-linear-gradient(0deg, transparent, #404040, transparent);
    vertical-align: middle;
}

.list-item p {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.item-container-left {
    width: 70%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.item-title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-time {
    color: #12B4FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-container-right {
    width: 30%;
    height: 10%;
    display: table-cell;
    vertical-align: middle;
}

.item-remove-btn {
    width: 55px;
    height: 55px;
    margin: auto;
    background-color: #404040;
    -webkit-mask-image: url("../image/remove.png");
}

/*-------DETAIL PAGE-------*/
.detail-divider {
    margin-top: 5%;
    text-align: center;
    color: #12B4FF;
    font-size: 26px;
    font-weight: 900;
    border-image: 1 0 1 0 -webkit-linear-gradient(0deg, transparent, #12B4FF, transparent);
}

.detail-item {
    margin-top: 5%;
    text-align: center;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 900;
}
